.container {
    padding-left: 0;
    padding-right: 0;
}

#about {
    background-image: url("images/background.jpg");
    background-position: center center;
    height: 200px;
    color: white;
}

#cy {
    height: 500px;
    pointer-events: none;
}