// Color Palette
$color-primary: rgba(54, 53, 55, 1);
$color-secondary: rgba(12, 206, 107, 1);
$color-tertiary: rgba(8, 178, 227, 1);
$color-quaternary: rgba(243, 151, 214, 1);
$color-quinary: rgba(215, 184, 243, 1);

$font-color: rgba(222, 222, 222, 1);
$font-family: 'Courier New', Courier, monospace;

$muted-color: rgb(90, 90, 90, 1);

// Sizes
$body-width: 800px;