html {
  background-color: lsStyle.$color-primary;
  color: lsStyle.$font-color;
  font-family: lsStyle.$font-family;
}

body {
    max-width: lsStyle.$body-width;
    margin: 0 auto;
    padding: 0 1rem;
}

